<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB 700 Final Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3><p> Welcome to the web development project</p></h3>
    <ul>
        <li>Akinyomi Olugbenga 154234223</li>
         <li>Alvic Panganiban 132640236</li>                                                                </li>
    </ul>
    <img src="web.jpg" alt="Web development image">

</body>
</html>